html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #00dc36;
  margin: 0;
  padding: 0;
}
body {
  height: 95vh;
  margin: 0;
  padding: 1rem;
  background-color: #070707;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  width: 95%;
}

nav {
  padding: 0.5rem;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
  border-color: #444644;
  border-radius: 0.5rem;
}

.logo,
.title,
.status {
  color: #00dc36;
}

.logo {
  background-color: #00dc36;
  border-radius: 100%;
  padding: 6px 4px 2.5px 4px;
}

.logo img {
  width: 2.1rem;
  height: 2rem;
}

.status {
  font-size: 0.8rem;
  width: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #283b2d;
  border-radius: 50px;
  height: 1.8rem;
  border: 2px solid;
  border-color: #276b37;
}
.status-unit {
  transform: translate(0, -0.5rem);
}
.status-point {
  font-weight: bold;
  display: inline-block;
  padding-right: 0.5rem;
  transform: translate(0, -0.1rem);
  font-size: 2.2rem;
}

#secure {
  color: #247e39;
}

main {
  display: flex;
  padding: 1rem;
  border: 2px solid;
  border-radius: 8px;
  background-color: #140f1e;
  border-color: rgb(40, 48, 54);
  width: 90%;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}
footer {
  background-color: aliceblue;
  height: 4rem;
  width: 100%;
}
:root {
  --dark-green: #022d16;
  --green: #054d2e;
  --bright-green: 0, 255, 0;
}
#radar {
  width: 200px;
  aspect-ratio: 1;
  background-color: var(--dark-green);
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}
#radar:after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, rgb(var(--bright-green)) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(var(--bright-green)) 1px, transparent 1px);
  opacity: 0.5;
}
#circle {
  pointer-events: none;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
#rings {
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-color: var(--green);
  position: absolute;
}
#rings > * {
  border-radius: 100%;
  border: 2px solid rgb(var(--bright-green));
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
}
#ring-0 {
  width: 100%;
}
#ring-1 {
  width: 80%;
}
#ring-2 {
  width: 60%;
}
#ring-3 {
  width: 40%;
}
#ring-4 {
  width: 20%;
}
#rotator {
  pointer-events: none;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    transparent 0deg,
    rgba(var(--bright-green), 0.5) 250deg,
    rgba(var(--bright-green), 0.8) 359deg,
    white
  );
  position: absolute;
  animation: rotate infinite linear 3s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info {
  padding-right: 40%;
}

.info .number {
  font-size: 2rem;
}
.info .text {
  color: rgb(182, 180, 177);
  font-size: 0.6rem;
}
.options {
  display: flex;
  gap: 1rem;
  width: 95%;
}

.options button {
  color: aliceblue;
  border:2px solid;
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.5rem;
    background-color: #140f1e;
  border-color: rgb(40, 48, 54);
}