html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #00dc36;
}
body {
  margin: 0;
  padding: 1rem;
  background-color: #0c0c10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 95%;
}

nav {
  padding: 0.5rem;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
  border-color: #444644;
  border-radius: 0.5rem;
}

.logo,
.title,
.status {
  color: #00dc36;
}

.logo {
  background-color: #00dc36;
  border-radius: 100%;
  padding: 6px 4px 2.5px 4px;
}

.logo img {
  width: 2.1rem;
  height: 2rem;
}

.status {
  font-size: 0.8rem;
  width: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #283b2d;
  border-radius: 50px;
  height: 1.8rem;
  border: 2px solid;
  border-color: #276b37;
}
.status-unit {
  transform: translate(0, -0.5rem);
}
.status-point {
  font-weight: bold;
  display: inline-block;
  padding-right: 0.5rem;
  transform: translate(0, -0.1rem);
  font-size: 2.2rem;
}

#secure {
  color: #247e39;
}

maim {
  height: 80%;
  flex-grow: 1;
}
